.table {
    padding: 4px;
}

.table-quantity {
    width: 80px;
}

.form-control {
    margin-top: 4px;
    margin-bottom: 4px;
}

#customerFormHeader {
    margin-bottom: 8px;
}

#submitOrder {
    margin-left: 4px;
}

#confirmOrder {
    color: #FFF;
}
