<!DOCTYPE HTML>
<html ng-app="AdminApp">
    <head>
        <meta charset="utf-8"/>
        <title>Admin tools</title>
        <script src="../../../assets/lib/jquery.js" type="application/javascript"></script>
        <script src="../../../assets/lib/bacon.js" type="application/javascript"></script>
        <script src="../../../assets/lib/bacon.model.js" type="application/javascript"></script>
        <script src="../../../assets/lib/bacon.jquery.js" type="application/javascript"></script>
        <script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v2.0.0.js"
                type="application/javascript"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../assets/css/app.css">

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

        <!-- AdminApp module and controller -->
        <script src="AdminController.js"></script>
    </head>
    <body>
        <main class="container" ng-controller="AdminController" ng-init="getOrders()" id="orderList">

            <!-- alert in case of an error from the backend -->
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error.value">
                An error occurred.
                <div class="text-danger">{{error.message}}</div>
            </div>

            <!-- alert in case there are no orders (yet) -->
            <div class="alert alert-info alert-dismissible" role="alert" ng-show="orders.length == 0">
                <strong>No orders found.</strong>
            </div>

            <!-- list of orders : COMMENT THIS SECTION FOR DEFAULT BEHAVIOR -->
            <div class="panel panel-info" ng-repeat="order in orders">
                <div class="panel-heading"><strong>Order ID: </strong>{{order.orderId}}</div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-sm-2 control-label text-right">Customer ID</label>
                        <div class="col-sm-10">
                            <span>{{order.customer.customerId}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right">Company name</label>
                        <div class="col-sm-10">
                            <span>{{order.customer.companyName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right">Address</label>
                        <div class="col-sm-10">
                            <div>{{order.customer.street}} {{order.customer.postalCode}}</div>
                            <div>{{order.customer.city}} - {{order.customer.country}}</div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="orderLine in order.orderLines">
                            <td>{{orderLine.productId}}</td>
                            <td>{{orderLine.productName}}</td>
                            <td>{{orderLine.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </body>
</html>
